@import url("https://fonts.googleapis.com/css2?family=Mona+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Yrsa:ital,wght@0,300..700;1,300..700&display=swap");

@import "keep-react/css";
@tailwind base;
@tailwind components;
@tailwind utilities;

#root{
  background-color: white;
}

.slick-current {
  background-image: url("/images/sliderbg.png");
  background-position: center;
  background-size: cover;
  border-radius: 15px;
}
.slick-slide {
  margin: 5px;
}
.styles_faq-row-wrapper__3vA1D
  .styles_row-body__1NvUo
  .styles_faq-row__2YF3c
  .styles_row-title__1YiiY
  .styles_row-title-text__1MuhU {
  font-weight: bold;
  padding: 5px;
}
.styles_faq-row-wrapper__3vA1D .styles_faq-row__2YF3c {
  border-bottom: none !important;
}
.styles_faq-row-wrapper__3vA1D
  .styles_row-body__1NvUo
  .styles_faq-row__2YF3c
  .styles_row-content__QOGZd
  .styles_row-content-text__2sgAB {
  background-color: #6366f1;
  color: white !important;
  border-radius: 0px 0px 5px 5px;
}
.expanded {
  background-color: #6366f1 !important;
  color: white !important;
  border-radius: 5px 5px 0px 0px !important;
}
.styles_faq-row-wrapper__3vA1D
  .styles_row-body__1NvUo
  .styles_faq-row__2YF3c
  .styles_row-title__1YiiY.styles_expanded__3elPy
  .styles_icon-wrapper__2cftw {
  background-color: white;
  padding: 0px 6px;
  border-radius: 5px;
}

.menu :where(li:not(.menu-title) > *:not(ul, details, .menu-title, .btn)),
.menu :where(li:not(.menu-title) > details > summary:not(.menu-title)) {
  border-radius: 100px !important;
}

.video-carousel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.video-slider {
  position: relative;
  width: 50%;
  margin-right: 20px;
}

.testimonial-slider {
  width: 50%;
}

.slide {
  display: none;
}

.slide.active {
  display: block;
}

.testimonial {
  display: none;
}

.testimonial.active {
  display: block;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
  z-index: 1;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}
.thumbnail-container {
  position: relative;
}

.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  color: red;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  display: block;
}

.thumbnail-container:hover .play-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-button i {
  font-size: 24px;
}

.slide img {
  width: 100%;
  height: auto;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
  z-index: 1;
}

.menu li > *:not(ul, .menu-title, details, .btn):active,
.menu li > *:not(ul, .menu-title, details, .btn).active,
.menu li > details > summary:active {
  background-color: #6366F1;
  color: white;
}
